/* Main css file */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

/* SCROOL BAR */
::-webkit-scrollbar { 
	width: 10px;
} 

::-webkit-scrollbar-track {
	background: rgb(26, 26, 26);
}
 
::-webkit-scrollbar-thumb {
	background: #40444b;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
} 

::-webkit-scrollbar-thumb:hover {
	background: #5c646b;
}


/* COMMONS */
body {
    background-color: rgb(40, 40, 43);
	display: flex;
	justify-content: center;
	height: 100vh;
}

.container {
	position: absolute;
	border-left: 0.1px solid #5c646b;
	border-right: 0.1px solid #5c646b;
	height: 100%;
	width: 100%;
}

.left {
	position: absolute;
	left: 0px;
}

.right {
	position: absolute;
	right: 0px;
}

.display-none {
	display: none;
}

.margin-bot-8 {
	margin-bottom: 8px;
}

.margin-top-8 {
	margin-top: 8px;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.color-red {
	color: rgb(255, 105, 105) !important;
}

.color-green {
	color: rgb(54, 216, 54) !important;
}

.color-yellow {
	color: rgb(240, 240, 72) !important;
}

.color-blue {
	color: rgb(81, 81, 241) !important;
}

.color-white {
	color: white !important;
}

.basic-link {
	color: rgb(148, 148, 255);
	text-decoration: none;
	margin-left: 2px;
	font-size: 16px;
	font-weight: bold;
}

.basic-link:hover {
	color: rgb(255, 97, 97);
	text-decoration: underline;
}

.text-center {
	text-align: center;
}


/* ALERT STYLE */
.alert {
	position: relative;
	max-width: 30%;
	text-align: center;
	border: 1px solid #5c646b;
	background-color: rgb(40, 40, 43);
	margin-top: 10px;
}

.alert-error {
	background-color: rgb(190, 23, 23);
}

.alert-success {
	background-color: rgb(15, 104, 15);
}

.alert-text {
	color: white;
	font-size: 18px;
	font-weight: bold;
}


/* USER BAR */
.user-bar {
	padding-top: 5px;
	padding-bottom: 4px;
	border-bottom: 1px solid #5c646b;
	height: 30px;
	background-color: rgb(41, 41, 46);
}

.welcome-header {
	font-size: 18px;	
	color: white;	
	margin-left: 3px;
}


/* NAVIGATION BAR */
.navigation-bar {
	padding-top: 3px;
	padding-bottom: 4px;
	border-bottom: 1px solid #5c646b;
	height: 38px;
	background-color: rgb(41, 41, 46);
}

.nav-link {
	color: rgb(137, 137, 243);
	text-decoration: none;
	font-size: 25px;
	margin-left: 3px;
	margin-right: 3px;
}

.nav-link:hover {
	color: rgb(245, 62, 62);
	text-decoration: underline;
}

.nav-link-small {
	font-size: 18px;
}

.admin-link {
	color: rgb(245, 62, 62);
}

.admin-link:hover {
	color: rgb(57, 241, 33);
}


/* NAVIGATION SEARCH FORM */
.nav-search-form {
	margin-right: 4px;
}


/* FROM STYLE */
.form {
	position: absolute;
	border: 1px solid #5c646b;
	background-color: rgb(53, 56, 59);
	padding: 10px;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

.form-title {
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}


/* INPUTS STYLE */
.user-input-field {
	font-size: 18px;
	background-color: rgb(41, 41, 41);
	border: 1px solid rgb(150, 150, 150);
	color: white;
	text-decoration: none;
	padding: 4px;
	margin-left: -0px;
	padding-left: 5px;
	padding-right: 6px;
}

.user-input-field:hover {
	background-color: rgb(20, 20, 20);
	color: rgb(255, 255, 255);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	font-size: 18px;
	color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(41, 41, 41) inset !important;
}

.check-box {
	border: 2px solid rgba(255, 255, 255, 0.24);
	background: rgba(180, 38, 38, 0.062);
	position: relative;
	width: 25px;
	height: 20px;
	top: 4px;
}

.check-box-text {
	color: white;
	font-family: arial;
	font-size: 20px;
}


/* FORUM BOARD */
.forum-board {
	border: 1px solid #5c646b;
	background-color: rgb(53, 56, 59);
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

.forum-category {
	border: 1px solid #818181;
	background-color: rgb(55, 56, 56);
	margin: 4px;
	border-radius: 5px;
}

.forum-category:hover {
	background-color: rgb(66, 66, 66);
}

.forum-title {
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #5c646b;
	background-color: rgb(52, 52, 90);
	margin-bottom: 5px;
	padding-left: 3px;
}

.forum-line {
	position: relative;
	width: 100%;
}

.forum-link {
	margin-left: 1px;
	color: rgb(114, 114, 255);
	text-decoration: none;
	position: relative;
	top: 0px;
}

.forum-link:hover {
	color: rgb(253, 75, 75);
	text-decoration: underline;
}

.posts-count {
	margin-right: 5px;
	color: white;
}

.category-desc {
	margin-left: 24px;
	font-size: 16px;
	color: white;
	position: relative;
	top: 0px;
}

.fa-dot-circle {
	color: white;
	margin-left: 3px;
	margin-top: 2px;
}


/* FORUM BROWSE */
.forum-borowser {
	margin: 5px;
	border: 1px solid #818181;
	border-radius: 5px;
}

.sub-panel {
	border-bottom: 1px solid #5c646b;
	background-color: rgb(53, 56, 59);
	padding: 2px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.sort-panel {
	margin-right: 10px;
}

.sort-text {
	color: white;
	font-size: 16px;
	font-weight: bold;
}


/* FOOTER */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	border: 1px solid #5c646b;
	text-align: right;
	background-color: rgb(52, 52, 90);
}

.footer-text {
	padding: 0px;
	font-size: 14px;
	margin-right: 5px;
}

.author-link {
	color: white;
	text-decoration: none;
}

.author-link:hover {
	color: rgb(247, 105, 105);
	text-decoration: underline;
}


/* FORUM READER */
.post-name-line {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgb(87, 87, 87);
}

.post-link {
	color: rgb(136, 136, 211);
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}

.post-link:hover {
	color: rgb(96, 252, 96);
}

.post-desc-date {
	margin-right: 10px;
	color: #d6d6d6;
}

.post-line-text {
	color: white;
	font-size: 15px;
}

.post-author-link {
	color: rgb(255, 115, 115);
	text-decoration: none;
	font-size: 15px;
}

.post-author-link:hover {
	color: rgb(147, 253, 147);
}

.post-list table, .post-list th, .post-list td {
	position: relative;
	border: 1px solid rgb(131, 131, 131);
	border-collapse: collapse;
	padding: 4px;
	width: 100%;
	color: white;
}

.post-list th, .post-list td {
	background-color: rgb(53, 56, 59);
}

.post-list td:hover {
	background-color: rgb(51, 53, 54);
}


/* PAGE LIMIT BUTTON */
.page-button {
	padding: 3px;
	border: 1px solid white;
	text-decoration: none;
	color: white;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
}

.page-button:hover {
	border: 1px solid rgb(231, 47, 47);
	color: rgb(231, 47, 47);
}


/* POST READER */
.post-reader {
	background-color: rgb(41, 44, 46);
	margin: 5px;
	padding: 5px;
	border: 1px solid white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.post-title {
	color: rgb(218, 218, 218);
	font-size: 25px;
	border-bottom: 1px solid white;
	padding-bottom: 1px;
}

.post-author {
	border-bottom: 1px solid white;
}

.post-author-avatar {
	max-width: 30px;
	margin-bottom: -5.5px;
}

.post-author-name {
	color: rgb(218, 218, 218);
	font-size: 25px;
	position: relative;
	top: -1px;
	margin-left: 4px;
}

.profile-link {
	color: white;
	text-decoration: none;
}

.profile-link:hover {
	text-decoration: underline;
}

.post-date-line {
	float: right;
	margin-right: 5px;
	position: relative;
	top: 12px;
	font-size: 15px;	
	color: #bebebe;
}

.post-content {
	color: rgb(218, 218, 218);
	font-size: 16px;
	padding-top: 6px;
}


/* NEW POST CREATE */
.new-post-title {
	width: 100%;
}

.new-post-content {
	resize: none;
	width: 500px;
	height: 200px;
}


/* LARGE DESKTOPS CSS */
@media only screen and (min-width: 2048px) {
	.container {
		width: 80%;
	}
	.footer {
		width: 80%;
	}
}


/* PHONE CSS */
@media only screen and (max-width: 768px) {
	.user-bar {
		padding-top: 0px;
		height: 21px;
	}
	.welcome-header {
		font-size: 12px;
	}
	.user-input-field {
		font-size: 12px;
		padding: 2px;
	}
	.width-limiter-100 {
		max-width: 100px;
	}
	.width-limiter-150 {
		max-width: 150px;
		min-width: 150px;
	}
	.nav-link {
		font-size: 20px;
	}
	.navigation-bar {
		height: 27px;
	}
	.nav-link-small {
		font-size: 13px;
	}
	.alert {
		margin-top: 0;
		max-width: 100%;
	}
	.alert-text {
		font-size: 15px;
	}
	.forum-title {
		font-size: 13px;
	}
	.forum-link {
		font-size: 10px;
		top: -4px;
	}
	.posts-count {
		font-size: 10px;
	}
	.category-desc {
		font-size: 10px;
		top: -5px;
	}
	.basic-link {
		font-size: 12px;
	}
	.sub-panel {
		padding: 0;
	}
	.sort-text {
		font-size: 12px;
	}
	.form-title {
		font-size: 15px;
	}
	.check-box-text {
		font-size: 12px;
	}
	.check-box {
		width: 13px;
		height: 20px;
		top: 6.5px;
	}
	input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
		font-size: 10px;
		color: white;
	}
	.post-link {
		font-size: 15px;
	}
	.post-line-text {
		font-size: 12px;
		margin-bottom: 1px;
	}
	.post-author-link {
		font-size: 12px;
	}
	.forum-board .post-name-line {
		border: none;
	}
	.post-desc-date {
		font-size: 10px;
	}
	.post-title {
		font-size: 18px;
	}
	.post-author-name {
		top: 1px;
		font-size: 16px;
	}
	.post-date-line {
		top: 5px;
		font-size: 10px;	
	}
	.post-author {
		margin-top: -1px;
		padding-bottom: 1px;
	}
	.post-author-avatar {
		max-width: 18px;
	}
	.post-content {
		font-size: 14px;
	}
	.new-post-content {
		width: 280px;
		height: 180px;
	}
}
